<!DOCTYPE html>
<html>
  <head>
    <title>Salma's Test Page</title>
    <style>
      h1 {
        font-size: 80px;
      }
    </style>
  </head>
  <body>
    <h1>Salma's Test Page</h1>
    <img src="https://pixabay.com/photos/tree-sunset-clouds-sky-silhouette-736885/">
    <h2>About Salma</h2>
    <p>
      This is simply a test page to learn Python for web app development. I've been reading "A Clash of Kings", the second book from the "A Song of Ice and Fire", so I'm attaching a brief paragraph of the synopsis. 
    </p>
    <h2>Book Synopsis</h2>
    <p>
      A Clash of Kings is the second of seven planned novels in A Song of Ice and Fire, an epic fantasy series by American author George R. R. Martin. It was first published on November 16, 1998 in the United Kingdom; the first United States edition followed on February 2, 1999.
    </p>
    <button>Great!</button>
  </body>
</html>